
.top-bar {
    height: 8vh;
    background-color: "blue";
    display: flex;
}

.title {
    height: 6vh;
    font-size: 5vh;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}
