
# belongs at
# /etc/nginx/sites-available/my_gallery_s

# netsh interface portproxy add v4tov4 listenport=3000 listenaddress=0.0.0.0 connectport=3000 connectaddress=172.22.105.82

gzip on;
gzip_proxied any;
gzip_min_length 1000;
gzip_comp_level 5;
gzip_types text/plain text/css application/json application/javascript text/javascript;

server {
    listen 3000;
    listen [::]:3000;

    server_name MyGallery.net;

    add_header Content-Security-Policy "default-src 'self';";

    location / {
        root /var/www/html;
        index index.html index.nginx-debian.html;
    }

    location /favicon.ico {
        root VAR_HOME_DIR;
    }

    location = /gallery {
        return 301 /gallery/;
    }

    location /gallery/ {
        alias VAR_HOME_DIR;
    }

    location ~* ^/image/(.*) {
        root VAR_HOME_DIR;
        try_files /images/$1 /webp_bucket/$1 /downloaded/$1 /custom/$1  =404;
    }

    location /gallery/list-media/ {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000/list-media/;
    }

    location /saving/ {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000/saving/;
    }

    location /thumbnail/ {
        include proxy_params;
        proxy_pass http://127.0.0.1:8000;
    }
}

