:root[data-theme="light"] {
  --bg: #ffffff;
  --fg: #000000;
}

:root[data-theme="dark"] {
  --bg: #000000;
  --fg: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.searchbar-wrapper {
  position: relative;
  height: 5vh;
  margin-right: .5em;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.searchbar-wrapper input {
  height: 5vh;
  font-size: 4vh;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.clear-search-button-container {
  position: absolute;
  place-items: center;
  z-index: 1;
  top: 1.5vh;
  right: 0;
  width: 3vh;
  height: 3vh;
}

.clear-search-button-container .circle {
  position: absolute;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.clear-search-button-container:hover .circle {
  opacity: .3;
}

.clear-search-button {
  display: inline-block;
  position: absolute;
  top: .5vh;
  right: .5vh;
  height: 2vh;
  width: 2vh;
}

.sort-select {
  margin-right: .5em;
  height: 4vh;
}

#delete-button {
  margin-right: .5em;
  height: 4vh;
  border: none;
  border-radius: 3px;
  width: 7em;
}

.red-outline {
  box-shadow:
    0 0 0 2px red,
    0 0 0 1px red inset;
}

#gallery {
  background-color: var(--bg);
  padding-top: 2px;
  display: flex;
}

.gallery-col {
  width: 33%;
  margin: 0 .166%;
}

.image {
  width: 100%;
}

#full-image:focus {
  outline: none;
}

:root {
  --button-offset: 10px;
}

#back-arrow {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 24px;
  height: 24px;
  color: var(--fg);
  fill: currentColor;
}

.hidden {
  display: none;
}

.circle-container {
  place-items: center;
  position: absolute;
  top: var(--button-offset);
  left: 10px;
  width: 48px;
  height: 48px;
}

.circle-container .circle {
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: gray;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.circle-container:hover .circle {
  opacity: .3;
}

#form {
  display: none
}

#tags {
  /*background-color: pink;*/
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

#big-image-div {
  text-align: center;
  width: 100%;
  background-color: var(--bg);
}

#full-image {
  height: 95svh;
  max-width: 98%;
  object-fit: contain;
}

#full-image.full-size {
  object-fit: cover;
  height: auto;
  min-height: 95svh;
}

footer {
  background-color: #56aef6;
  padding: 5px;
}
